*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 62.5%;  
}
.heading{
   
  font-size: calc(4rem + 3vw);
  background-image: linear-gradient(to bottom left, #553c9a, #ee4b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  display: flex;
  align-items: center;
  justify-content: center;

}

.sub-heading{
  font-size: calc(2rem + 1.5vw);
  background-image: linear-gradient(to bottom left, #553c9a, #ee4b2b);
  color: transparent;
  background-clip: text;
  padding-top: 3rem;
  -webkit-background-clip: text;
  display: flex;
  align-items: center;
  justify-content: center;

}